streamlit
fastapi
uvicorn
requests
flask
gunicorn
transformers
torch
sentence-transformers
chromadb
arxiv
beautifulsoup4
scrapy
pdfminer.six
pdfplumber
unstructured[all-docs]
huggingface_hub
gradio
tiktoken
langchain-community
pysqlite3-binary
git+https://github.com/groq/groq-sdk.git
